In [1]:
import pandas as pd

In [3]:
money = pd.read_excel("usd_exchange_rate.xlsx")

In [4]:
money

     nominal       data     curs         cdx
0          1 2018-01-10  57.0463  Доллар США
1          1 2018-01-11  56.8734  Доллар США
2          1 2018-01-12  56.9957  Доллар США
3          1 2018-01-13  56.6019  Доллар США
4          1 2018-01-16  56.3569  Доллар США
..       ...        ...      ...         ...
516        1 2020-02-11  63.7708  Доллар США
517        1 2020-02-12  63.9490  Доллар США
518        1 2020-02-13  63.0470  Доллар США
519        1 2020-02-14  63.6016  Доллар США
520        1 2020-02-15  63.4536  Доллар США

[521 rows x 4 columns]

In [6]:
past = 7 * 4 #на основе за последние 4 недели 
future = 7 #будем предсказывать тренд на неделю вперёд

In [7]:
values = money.curs

In [9]:
start = past
end = len(values) - future

In [10]:
print(start, end)

28 514

In [18]:
raw_df = []
for i in range(start, end):
    #Для каждого дня строчки(т.е для каждого дня)
    past_and_future_values = values[(i-past):(i+future)]#Выбирает данные за прошлое и за будущее
    raw_df.append(list(past_and_future_values))

In [14]:
values[0:7]

0    57.0463
1    56.8734
2    56.9957
3    56.6019
4    56.3569
5    56.3878
6    56.5925
Name: curs, dtype: float64

In [20]:
raw_df

SyntaxError: invalid syntax (<ipython-input-20-81e63f88f1cf>, line 1)

In [29]:
past_columns = [f"past_{i}" for i in range(past)] #Название для калонок в прошлом

In [23]:
future_columns = [f"future_{i}" for i in range(future)] #Название для колонок в будущем

In [30]:
df = pd.DataFrame(raw_df, columns = (past_columns + future_columns))

In [31]:
df

,past_0,past_1,past_2,past_3,past_4,past_5,past_6,past_7,past_8,past_9,...,past_25,past_26,past_27,future_0,future_1,future_2,future_3,future_4,future_5,future_6
0,57.0463,56.8734,56.9957,56.6019,56.3569,56.3878,56.5925,56.7597,56.5892,56.6261,...,57.7701,57.5899,56.5918,56.3554,56.3438,56.5201,56.6537,56.7608,55.9208,55.6717
1,56.8734,56.9957,56.6019,56.3569,56.3878,56.5925,56.7597,56.5892,56.6261,56.4115,...,57.5899,56.5918,56.3554,56.3438,56.5201,56.6537,56.7608,55.9208,55.6717,56.3742
2,56.9957,56.6019,56.3569,56.3878,56.5925,56.7597,56.5892,56.6261,56.4115,56.3888,...,56.5918,56.3554,56.3438,56.5201,56.6537,56.7608,55.9208,55.6717,56.3742,56.4334
3,56.6019,56.3569,56.3878,56.5925,56.7597,56.5892,56.6261,56.4115,56.3888,55.9288,...,56.3554,56.3438,56.5201,56.6537,56.7608,55.9208,55.6717,56.3742,56.4334,56.6616
4,56.3569,56.3878,56.5925,56.7597,56.5892,56.6261,56.4115,56.3888,55.9288,55.8288,...,56.3438,56.5201,56.6537,56.7608,55.9208,55.6717,56.3742,56.4334,56.6616,57.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,62.5544,62.7686,62.5326,62.5831,62.5283,62.4071,62.2499,62.1673,61.7164,61.7676,...,62.3380,62.8299,62.3934,63.0359,63.1385,63.9091,63.4342,63.1742,62.7977,63.4720
482,62.7686,62.5326,62.5831,62.5283,62.4071,62.2499,62.1673,61.7164,61.7676,62.0315,...,62.8299,62.3934,63.0359,63.1385,63.9091,63.4342,63.1742,62.7977,63.4720,63.7708
483,62.5326,62.5831,62.5283,62.4071,62.2499,62.1673,61.7164,61.7676,62.0315,61.9057,...,62.3934,63.0359,63.1385,63.9091,63.4342,63.1742,62.7977,63.4720,63.7708,63.9490
484,62.5831,62.5283,62.4071,62.2499,62.1673,61.7164,61.7676,62.0315,61.9057,61.9057,...,63.0359,63.1385,63.9091,63.4342,63.1742,62.7977,63.4720,63.7708,63.9490,63.0470
485,62.5283,62.4071,62.2499,62.1673,61.7164,61.7676,62.0315,61.9057,61.9057,61.2340,...,63.1385,63.9091,63.4342,63.1742,62.7977,63.4720,63.7708,63.9490,63.0470,63.6016